/* Globales Styling */
body {
    font-family:monospace;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;

    button{
        font-family: monospace;
    }
   
}

/* Header */

@media (max-width: 900px) {

    

    
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .hero-images {
        flex-direction: column;
        align-items: center;
        
    }

    .picture2 {
    
      width: 70%; /* Bild skalieren */
    }

    .schrift1 {
        max-width: 30%;
        margin-right: 0;
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (900 - 320)));
    }

    .counter{

     display: flex;
     justify-content: center;

    }


    .products {
        padding: 20px;
    }

    .product-list {
        
        gap: 10px;
    }



    .mission {
        padding: 20px;
    }

    footer {
        padding: 15px;
        text-align: center;
    }

   


    button.register{
        
        
        font-size: small;
       
    }
    button.register:hover{
        background-color: #807c7c;
       
        font-size: small;
       
    }

    
    
    .points-section{
        max-height: 600px;
    }

    .counter span{

        font-size: 100px;
    }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
   }

   .product-item {
    flex: 1 1 calc(50% - 20px); /* Zwei Produkte nebeneinander */
    max-width: calc(50% - 20px);
   }

   .slider{
    display: flex;
    padding-left: 20%;
    padding-top:3%;
   }

}















@media (max-width: 393px) {


    
    
    .hero h2{
        color: #144317;
        font-size: 10px;
        
        
    }

    .text-container {
        margin-left: 25%;
        margin-top: 10%;
        
    }

    /* Navigation Menü */
    nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -445px; /* Startposition außerhalb des Bildschirms */
    width: 400px;
    height: 55%;
    background-color: #636563;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20%;
}

nav ul li {
    
    margin: 20px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #a9a9a8;
}


   nav.open {
    left: 0;
    }

    /* Animation für Burger Menü (offen/geschlossen) */
.burger-menu.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}





    .burger-menu {
        position: fixed;
        top: 10px;
        left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        z-index: 1001;
        
    }
    .burger-menu span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #144317;
        border-radius: 2px;
        
        
    }

    .box1{
        display: flex;
        flex-direction:row;
        top: 70%;
        
    }
    

    
    .text-image-section {
        flex-direction: column; /* Elemente untereinander anordnen */
    }

    .image-container,
    .text-container {
        flex: 1 1 100%; /* Nimmt die gesamte Breite ein */
    }
    

    .product-container {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        height: 700px;
        margin-bottom: 40%;
    }

    .product-container{
        flex-direction: column;
        
    }

    .mission{
        background-color: #eef1ee;
    }

    
   

    .carousel2 {
       position: relative;
        bottom: 20%;
        padding-right: 33%;
    
    }

    .images2 {
        display: flex;
        
    }
      
    .schrift1 {
        margin-top: 43%;
        position: relative;
        left: -72%;
    }
    .schrift1 span{
      display: none;
    }

    .box1{
      top: 50%;
      
        
    }
    
    .register{
       margin-left:30%;
    }
    .login-btn{
        margin-top: 5%;
    }

    .hero{
      
        background-image: url(Bilder/Hintergrundbild.jpg );
        background-size: 290%;
        max-width: 100%;
    }

    
    
    /* .inner_part anpassen */
    .inner_part {
        
        flex-wrap: wrap; 
        justify-content: center;
        margin-top: 0;
        max-width: 100%;
        
    }

    .content{
        margin-top: -18%;

    }

    .h1:link{
        margin-top: 10%;
        color: #000000;
    }
      
    
    /* Auf das Bild reagieren */
    #slideImg:checked ~ .inner_part {
        
        transition: .1s ease-in;
        
        
    }
    
   
    #slide_1:checked ~ .inner_part .img_1,
    #slide_2:checked ~ .inner_part .img_2,
    #slide_3:checked ~ .inner_part .img_3 {
        opacity: 1;
        transition-delay: .2s;
        width: 70%;
        height: 50%
        
       
    }
    
    
    
    #slideImg:checked ~ .inner_part .content {
        http://127.0.0.1:3000/index.html
        
        
    }
    
    #slide_1:checked ~ .inner_part .content_1,
    #slide_2:checked ~ .inner_part .content_2,
    #slide_3:checked ~ .inner_part .content_3 {
        opacity: 0;
        margin-left: 0;
        z-index: 99;
        transition-delay: .3s;
        padding-left: 0;
        
        
        
    }
    
    
    

    .content .text {
        
    
        max-width: 100%;
        
        color: #000000;
        line-height: 1.5em;
        
    }
    
    
  
    
    
    .product-item{

        margin-left:  -25%;


    }
    
    p.beschreibung{

      padding-left: 90px;
    }
       
   
    .points-section{
      
      margin-top: 20%;
    }

    

    body {
        font-size: 14px; /* Kleinere Standardgröße */
    }

    h3 {
        font-size: 20px;
    }

    .hero h4 {
        font-size: 18px;
    }

    
    .counter span{
        font-size: 50px;

    }

    .product-list{
        flex-direction:column;
        display: flex;
        align-items: center;
    
    }

   

    .newsletter form input {
        padding: 10px;
        border-radius: 15px;
        margin-right: 5px;
        width: 200px;
        border-style: none;
    }

    .newsletter form button {
        display: flex;
        background-color: #227324;
        color: white;
        max-width: 100%;
        margin-left:28%;
        margin-top: 2%;
    }
   
    
    
    
    footer .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer a {
        margin: 5px 0;
    }

    .slider{
        display: flex;
        padding-top: 30%;
        padding-right: 60%;
        
    }
    
    


    .services {
        
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
        
    }

    .service-card {
        
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: -10%;
        transition: transform 0.3s, box-shadow 0.3s;
       
    }

    
    
   
    
    
    
    
    

    
    
}



















.h1{
    font-family:monospace;
    font-size: 25px;
    margin-left: 3%;
    border-color:#00000000;
    background-color: #00000000;


}

header {
    background-color: #14431700;
    /*background: linear-gradient(to right , #ffffff 40%, #144317);  Rot zu Blau */
    color: rgb(0, 0, 0);
    padding: 0;
    /*position: sticky;*/
    top: 0;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
  
ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    color:#fff;
    transition:0.5s;
}
  
ul:hover li a{
    transform:scale(1.0);
}
  
  
ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#3970445b;
    transition:0.8s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
    border-radius: 15px;
}
  
ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration:none; 
}

.Merkliste{
    
    border-radius: 15px;
    border: none;
    padding: 0.7em 2em; 
    background-color: #ffffff00;
    
}
.Merkliste:hover{
    
   transform: scale(1.5);
    
}

.login-btn{
    background-color: #144317;
    color: #ffffff;
    padding: 0.7em 2em;
    border-radius: 15px;
    border: none;
    
}

.login-btn:hover{
    background-color: #626262;
    border-color: #6c6a6a;
    color: #ffffff;
    padding: 0.7 2em;
    border-radius: 15px;
    
}




/* Hero-Bereich */

.hero {
    max-width:100%;
    max-height: 100%;
    
    height: 100vh; /* Damit der gesamte Bildschirm gefüllt ist */
    margin: 0; /* Entfernt den Standardabstand */
    background-image: url(Bilder/Hintergrundbild.jpg);
      
}

.hero h2{
    color: #144317;
    font-size: 6vh;
    
    
}


.box1{
    position: absolute;
    margin-top: 5%;
    margin-left: 10%;
    z-index: 1;

    
}


.schrift1{

    color: #000000;
    font-size: calc(8px + (20 - 8) * ((100vw - 320px) / (1600 - 320)));
    margin-left:0.1%;
    
    
    max-width: 40%;
    transform: scale(1);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    
    
}

.register{
    margin-top: 20%;
    font-size: 15px;
    background-color: #144317;
    border-radius: 20px;
    border:  none;
    color: white;
    padding: 15px 50px;
    
}

.register:hover{

    background-color: #676767;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    padding: 15px 50px;
    
}  


span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

@keyframes scale {
    100% {
      transform: scale(1.0);

    }
  }
  
  span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
  }
  
  span:nth-child(1) {
    animation: fade-in 2s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(2) {
    animation: fade-in 3s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  span:nth-child(3) {
    animation: fade-in 4s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  
  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}






.hero-images {
    margin-top: 8%;
    display: flexbox;
    
    
}

 

.picture2{
    max-width: 100%;
    padding-left: 40%;
    
    
    
}












/* Punkte Sektion */


.points-section{
    
    height: 600px;
    padding-top: 10%;
    background: 

    
    
}

h3{
    color: #000000;
    font-size: calc(8px + (60 - 8) * ((100vw - 320px) / (1600 - 320)));
    text-align: center;
    
    
}

.buttoncenter{

    display: flex;
    justify-content: center;
    margin-top: 5%;
    
    
    
}

.sammeln {
    
    background-color: #224323;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 40px;
    margin-right: 10px;;
    
    
    
   
    
}
.sammeln:hover {
    background-color: #7b7c7b;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px 40px;
   
    
}

.einlösen{
    background-color: #ffffff;
    font-size: 15px;
    color: rgb(40, 59, 42);
    border-color: #233f24;
    border-radius: 20px;
    padding: 10px 40px;
    border-style: double;
   

}
.einlösen:hover {
    background-color: #ffffff;
    color: rgb(128, 127, 127);
    border-color: #7f817f;
    border-radius: 20px;
    padding: 10px 40px;
    

    
    
}

.counter{
    display: flex;
    justify-content: center;
    
}



.counter span{
    
    color: #0f2710;
    border: 5px solid #21703c;
    padding: 0.1em 0.3em;
    border-radius: 25px;
    margin: 0.1em 0.1em;
    

}



.box{
    
    display:inline-block;
    overflow: hidden;
    height: 1em;
    line-height: 1em;
    font-weight: bold;
    font-size: 12em;
}

.box:after{
    
    position: relative;
    white-space: pre;
    content: "0\A 1\A 2\A 3\A 4\A 5\A 6\A 7\A 8\A 9";
    
    
}

.box.first-number:after {
    animation: animateFirst 6s steps(300) forwards;
}

.box.second-number:after {
    animation: animateSecond 8s steps(400) forwards;
}

.box.third-number:after {
    animation: animateThird 10s steps(400) forwards;
}

@keyframes animateFirst {
    0% {
        top: 0;
    }
   
    
    100% {
        top: -9em;
    }
}

@keyframes animateSecond {
    0% {
        top: 0;
    }
   
    100% {
        top: -2em;
    }
}

@keyframes animateThird {
    0% {
        top: 0;
    }
    
    100% {
        top: -9em;
    }
}






/* Mission-Bereich */
.mission {
    text-align: center;
    height: 900px;
    max-width: 100%;
    
    justify-content: center;
    display: flex;
   
   
    
    
    
    .card {
        position: absolute;
        height: 550px;
        width: 100%;
    
        margin-top:140px;
        
        background-color: #ffffff00;
        border-radius: 25px;
        
        
      }
      
      .card .inner_part {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 0 30px;
        height: 550px;
        position: absolute;
      }
      
      
      
      .inner_part .img {
        
        height: 400px;
        width: 400px;
        overflow: hidden;
        border-radius: 20px;
       
      }
      
     
      
      .img img {
        height: 100%;
        width: 100%;
        cursor: pointer;
        opacity: 0;
        transition: .6s;
      }
      
      #slide_1:checked ~ .inner_part .img_1,
      #slide_2:checked ~ .inner_part .img_2,
      #slide_3:checked ~ .inner_part .img_3 {
        opacity: 1;
        transition-delay: .2s;
      }
      
      .content {
        
        max-width: 40%;
        padding-left: 10%;
        opacity: 0;
        transition: .6s; 
      }
      
      #slideImg:checked ~ .inner_part .content {
        display: none;
      }
      
      #slide_1:checked ~ .inner_part .content_1,
      #slide_2:checked ~ .inner_part .content_2,
      #slide_3:checked ~ .inner_part .content_3 {
        opacity: 1;
        margin-left: 0;
        z-index: 100;
        transition-delay: .3s;
      }
      
      .content .title {
        font-size: 30px;
        font-weight: 700;
        color: #000000;
        margin: 0 0 20px 0;
      }
      
      .content .text {
        font-size: 19px;
        color: #000000;
        margin: 0 20px 30px auto;
        line-height: 1.5em;
        text-align: center;

      }
      
      .content button {
        padding: 15px 20px;
        border: none;
        font-size: 16px;
        color: #fefefe;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        background: #144317;
        
      }
      
      .content button:hover {
        background: #575757;
        color: #ffffff;
      }
      
      .slider {
       
        position: absolute;
        margin-top: 450px;
        margin-left: 70%;
        transform: translateX(-50%);
        z-index: 1;
      }
      
      #slideImg:checked ~ .slider {
        display: none;
      }
      
      .slider .slide {
        position: relative;
        height: 10px;
        width: 50px;
        background: #d9d9d9;
        border-radius: 5px;
        display: inline-flex;
        margin: 0 3px;
        cursor: pointer;
      }
      
      
      .slider .slide:before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: -100%;
        background: #000000;;
        border-radius: 10px;
        transform: scaleX(0);
        transition: transform .6s;
        transform-origin: left;
      }
      
      #slide_1:checked ~ .slider .slide_1:before,
      #slide_2:checked ~ .slider .slide_2:before,
      #slide_3:checked ~ .slider .slide_3:before {
        transform: scaleX(1);
        width: 100%;
      }
      
      input {
        display: none;
      }
  
    
}
.mission h4{
    font-size: 40px;
    
}

.products h4{
    font-size: 40px;
}


.products {
    justify-content: center;
    text-align: center;
    
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.product-item {
    flex: 1 1 calc(50% - 20px); /* Zwei Produkte nebeneinander */
    max-width: calc(50% - 20px);
}

.product-item img {
    width: 400px;
    height: 300px;
}

.more-products {
    display: block;
    margin-top: 30px;
    color: #1e6b21;
    text-decoration: underline;
    margin-bottom: 5%;
}


.newsletter {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
    
}



.newsletter form input {
    padding: 10px;
    border-radius: 15px;
    margin-right: 5px;
    width: 200px;
    border-style: none;
}

.newsletter form button {
    background-color: #304b30;
    color: white;
    padding: 10px 20px;
    border-style: none;
    border-radius: 15px;
    cursor: pointer;

}
.newsletter form button:hover{
    background-color: #626262;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;

}




footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #1d701d;
    text-decoration: none;
}






.services {
    
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px;
    background: url(Bilder/Hintergrundbild.jpg);
    background-size: 120%;
}

.service-card {
    margin-top: 10%;
    background: #619164;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
}



.service-card img {
    width: 50px;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #000000;
    
}

.service-card p {
    font-size: 0.9em;
    color: #ffffff;
    margin-bottom: 20px;
}





.herstellung{
    margin-top: 10%;

}

.herstellungsection{
   padding-left: 38%;
}

.recyclingbild{
    opacity: 0.7;
}

.shredding{
    opacity: 0.7;
    max-width: 18%;
    max-height: auto;
}

.sorting{
    opacity: 0.7;
    height: 50px;
    width: auto;

}


.overlapping-section {
    height: 100%;
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .overlapping-section h2 {

    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
  }
  
  .images2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Abstand zwischen den Bildern */
    width: 100%;
    margin-bottom: 10%;
  }
  
  .images2 img {
    width: 48%; /* Beide Bilder zusammen nehmen ~100% der Breite mit etwas Platz */
    height: auto; /* Proportionale Skalierung */
    border-radius: 8px; /* Optional: Abgerundete Ecken */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Schatten */
  }
  
  .carousel-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f500;
    overflow: hidden;
  }

   p.Überschirftkarusell{
    bottom:90%;
    position: absolute;
    font-size: 30px;
    text-align: center;
    z-index: 20;
    top:1%
}
  
  .carousel {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: rotate 8s infinite;
  }
  
  .carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-image:nth-child(1) {
    animation-delay: 0s;
  }
  .carousel-image:nth-child(2) {
    animation-delay: 4s;
  }
  
  
  
  @keyframes rotate {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    10% {
      opacity: 1;
      transform: scale(1.05);
    }
    25% {
      opacity: 1;
      transform: scale(1.05);
    }
    35% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      opacity: 0;
    }
  }
  

  
  .carousel2 {
    left: 20%;
    position: relative;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .carousel-image2 {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: rotate 8s infinite;
  }
  
  .carousel-image2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .carousel-section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f500;
    overflow: hidden;
  }
  .carousel-image2:nth-child(1) {
    animation-delay: 0s;
  }
  .carousel-image2:nth-child(2) {
    animation-delay: 4s;
  }

  .product-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    height: 700px;
    
}

.product-image img {
    width: 70%;
    margin-top: 10%;
    padding-left: 15%;

}
.product-image img:hover {
    width: 70%;
    margin-top: 10%;
    padding-left: 15%;
    transform: scale(1.4);
}

.product-details {
    max-width: 40%;
    padding-right: 5%;
}

.product-details h2 {
    font-size:calc(14px + (20 - 14) * ((100vw - 320px) / (900 - 320)));
    margin-bottom: 10px;
}

.price {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (900 - 320)));
    color: #397044;
    margin-bottom: 10px;
    text-decoration: line-through; color: #000000;
}

.description {
    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (900 - 320)));
    margin-bottom: 20px;
}

.add-to-cart {
    background-color: #397044;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #515151;
}

.price2{
    color: #1d701d;
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (900 - 320)));
    
}

.text-image-section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 90vh; /* Höhe der Sektion: Bildschirmhöhe */
    margin-top: -10%;
}

.image-container,
.text-container {
    flex: 1 1 50%; /* Flexibel, nimmt jeweils 50% ein */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    
}

/* Bild-Stil */
.image-container img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

/* Text-Stil */
.text-container {
    background-color: #ffffff; /* Optionaler Hintergrund */
    text-align: center;
    max-width: 50%;
}

.text-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
   
}

.text-container p {
    font-size: 19px;
    
}

.text-container p strong{
    font-size: 18px;
}

.zentrieren{
    text-align: center;
    margin-top: 12%;
    margin-bottom: -20%;
}

