/* Globales Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
}

/* Header */

.h1{
    font-size: 40px;

}



header {
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    padding: 0;
    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}



  
ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    color:#fff;
    transition:0.5s;
}
  
ul:hover li a{
    transform:scale(1.0);
    
}
  
  
  
ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#3970445b;
    transition:0.8s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
    border-radius: 15px;
}
  
ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;

}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration:none;
    
}

.Merkliste{

    background-color: #146617;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 8px 20px;
    margin: 5px;


}


.login-btn{
    background-color: rgb(18, 105, 41);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    
}

.login-btn:hover{
    background-color: rgb(69, 86, 73);
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
    
    
}

/* Hero-Bereich */


.hero {
    background-color: #ffffff00;
    height: 1200px;
    margin-top: -50px;
}

.hero h2{
    max-width: 50%;
    margin-left: 3%;
    color: #18701b;
    font-size: 60px;
    position: absolute;
    z-index: 1;
    
    
    
}

.hero-images {
    max-width: 100%;
    max-height: auto;
    margin-left: 300px;
    margin-top: 100px;
    padding-top: 100px;
    
    z-index: -1;
    
   
    
}

 .videowindow {
    max-width: 100%;
    height: auto;
    
 }
   /* Punkte Sektion */


.points-section{

    width: 100%;
    height: 1000px;
    text-align: center;

}

.sammeln {
    background-color: #146617;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    
}
.sammeln:hover {
    background-color: #414241;
    color: white;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    
}

.einlösen{
    background-color: #ffffff;
    color: rgb(26, 100, 35);
    border-color: #146617;
    border-radius: 15px;
    padding: 8px 20px;
    margin: 5px;

}
.einlösen:hover {
    background-color: #ffffff;
    color: rgb(78, 78, 78);
    border-color: #484a48;
    border-radius: 15px;
    padding: 8px 20px;
    margin: 5px;
    
}




/* Mission-Bereich */
.mission {
    
    text-align: center;
    height: 500px;
}


.carousel-parent {
    margin-left: 50%;
    position: absolute;
    width:0;
    height: 100%;
	transform-style: preserve-3d;
	transform: translateZ(var(--z-neg)) rotateY();
	animation: carousel 15s infinite forwards;
}
.carousel-item {
    
	position:absolute;
    top: 0;
    left: 0;
	justify-content: center;
	width: var(--caro-width);
	height: var(--caro-height);
	border-radius: 10px;
}
.carousel-item:nth-child(1) {
	background-color: #146617;
	background-size: cover;
	transform: rotateY(0) translateZ(var(--z-achse));
}
.carousel-item:nth-child(2) {
	background-color: #146617;
	background-size: cover;
	transform: rotateY(120deg) translateZ(var(--z-achse));
}
.carousel-item:nth-child(3) {
	background-color: #146617;
	background-size: cover;
	transform: rotateY(240deg) translateZ(var(--z-achse));
}

@keyframes carousel {  
	0%, 20% { transform: translateZ(var(--z-neg)) rotateY(0) }
 	25%, 45% { transform: translateZ(var(--z-neg)) rotateY(-120deg) }
	55%, 75% { transform: translateZ(var(--z-neg)) rotateY(-240deg) }
	85%, 100% { transform: translateZ(var(--z-neg)) rotateY(-360deg) }
}


:root {
	--z-achse: 100px;
	--z-neg: -100px;
	--caro-width: 300px;
	--caro-height: 300px;
}







/* Produkte-Bereich */
.products {
    padding: 40px;
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-item img {
    width: 150px;
    height: auto;
}

.more-products {
    display: block;
    margin-top: 10px;
    color: #1e6b21;
    text-decoration: underline;
}

/* Newsletter-Bereich */
.newsletter {
    background-color: #f0f0f0;
    padding: 30px;
    text-align: center;
}

.newsletter form input {
    padding: 10px;
    border-radius: 15px;
    margin-right: 5px;
    width: 200px;
}

.newsletter form button {
    background-color: #227324;
    color: white;
    padding: 10px 20px;
    border-style:none;
    border-radius: 15px;
    cursor: pointer;

}
.newsletter form button:hover{
    background-color: #626262;
    color: white;
    padding: 10px 20px;
    border-style:none;
    border-radius: 15px;
    cursor: pointer;

}

/* Footer */


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #1d701d;
    text-decoration: none;
}
